/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
/* smallest screen */
@media screen and (min-width: 120px) {
  nav a {
    text-decoration: none;
    font-family: 'gimlet-display', serif;
    font-weight: 400;
    font-style: normal;
  }
  section header nav {
    display: none;
  }

  section.home {
    background-color: #f2efec;
    height: 100%;
    text-align: center;
  }

  section header .close-bar {
    position: absolute;
    width: 41px;
    height: 41px;
    background-image: url(./mobile-menu.svg);
    background-repeat: no-repeat;
    right: 24px;
    top: 22px;
  }

  section.home h1 {
    font-family: 'gimlet-display', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    width: 60%;
    margin: auto;
    padding-top: 125px;
  }

  section.home h1 span {
    opacity: 0.5;
  }

  section.home img {
    width: 80%;
    margin: auto;
    margin-top: 27px;
  }

  section.home p {
    font-family: 'gimlet-display', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 27px;
  }

  section.home .non-bar {
    padding-bottom: 190px;
  }
  section.home .non-bar a {
    text-decoration: none;
    font-family: 'chaparral-pro-caption', serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    margin: auto;
    margin-top: 27px;
  }

  section.home .non-bar .contact-button {
    background-color: #e0bddc;
    padding: 8px 7px;
    color: #fcfbfa;
  }

  section.home .non-bar .see-more-button {
    background-color: #f2efec;
    color: #6f6c74;
    border: 3px solid #6f6c74;
    padding: 5px 13px;
    margin-left: 11px;
  }

  /* Mobile Active navbar */
  .show-bar {
    background-color: #e0bddc;
    height:100vh;
    padding-bottom: 372px;
    background-image: url(./header-illustration.svg);
    background-repeat: no-repeat;
    background-size: 296px 265px;
    background-position: bottom 58px right;
    text-align: left;
  }

  .show-bar .close-bar {
    position: absolute;
    width: 43px;
    height: 41px;
    background-image: url(./nav-bar-cancel.svg);
    background-repeat: no-repeat;
    right: 24px;
    top: 42px;
  }

  .show-bar nav {
    display: flex;
    flex-direction: column;
    margin-left: 68px;
  }

  .show-bar nav a {
    color: #ffffff;
    font-size: 27px;
    margin-top: 55px;
    font-weight: 500;
  }

  .show-bar nav a:first-of-type {
    margin-top: 125px;
  }
}
@media screen and (min-width: 600px) {
    section.home img {
        width: 65%;
        margin: auto;
        margin-top: 27px;
      }
    /* active menu bar */
    .show-bar nav a {
        color: #ffffff;
        font-size: 33px;
        margin-top: 55px;
        font-weight: 500;
    }
    .show-bar nav a:first-of-type {
        margin-top: 185px;
    }
    .show-bar {

        background-image: url(./header-illustration.svg);
        background-repeat: no-repeat;
        background-size: 396px 395px;
        background-position: bottom 58px right;
      }
}
